$backgroundBoxColor: #C3BCBA;
$shadowboxBox: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);;

$textColorButton: aliceblue;
$backgroundButtonColor: rgb(34, 112, 171);
$backgroundHoverButtonColor: rgb(64, 126, 170);

$shadowboxChip: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
$backgroundPrimaryColorChip: #2F4058;
$textColorChip: aliceblue;